body{
    font-family: 'Host Grotesk', sans-serif;
}

.degradado { 
    background: linear-gradient(120deg, #ff3131, #ff914d);
}

.boton-largo {
    width: 125px;
    border-radius: 25px; 
}

.seleccionar{
    width: 150px;
    border-radius: 25px; 
}

.input-grande {
    max-width: 500px; /* Limita el ancho máximo */
    width: 100%;      /* Asegura que se adapte a diferentes tamaños */
}

.tamaño-imagenUP{
    width: 35px;
}

.tamaño-logo{
    border-radius: 20px;
    width: 200px;
}

.letra-titulos{
    font-size: 2rem;
}

.letra-subtitulos{
    font-size: 1.5rem;
}

.letra-texto{
    font-size: 1rem;
}

.welcome-box {
    display: inline-block;
    background: linear-gradient(120deg, #ff3131, #ff914d);
    color: #ffffff; 
    font-weight: bold; 
    padding: 1px 30px; /* Espaciado interno */
    border-radius: 20px; /* Bordes redondeados */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para darle relieve */
    text-transform: uppercase; /* Texto en mayúsculas */
}

.welcome-boxGrande {
    display: inline-block;
    background: linear-gradient(120deg, #ff3131, #ff914d);
    color: #ffffff; 
    font-weight: bold; 
    padding: 5px 50px; /* Espaciado interno */
    border-radius: 20px; /* Bordes redondeados */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para darle relieve */
    text-transform: uppercase; /* Texto en mayúsculas */
}

.letra-textoM{
    font-size: 1.2rem;
}

.posision{
    position: absolute;
    top: 61px;
    right: 1145px;
    /* bottom: 10px;
    left: 10px; */
}

.tamaño-imagenes{
    border-radius: 20px;
    width: 150px;
}
.custom-margin-top{
    margin-top: 30px;
}
